/* Colors */
/* Redish / Pink: #ff5358 */
/* Dark red for button hover: #e00007 */
/* Very light gray: #efefef */

/* Background image links */
/* Hero: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg */
/* Fitzroy: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/fitzroy.jpg */
/* St. Kilda: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/st-kilda.jpg  */
/* CBD: https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/central-business-district.jpg */

* {
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
}

header {
    display: flex;
    flex-wrap: nowrap;
}
ul {
    display: flex;
}
